<!DOCTYPE html>
<html>

<head>
    <title>Ultrastar Song DB</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
</head>

<body class="bg-gray-900">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4 text-white">Ultrastar Song DB</h1>
        <form id="searchForm" method="GET" action="/" class="flex flex-col items-end" >
            <!-- Search input -->
            <div class="relative flex items-center w-full">
               <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 start-0 flex items-center px-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="search" id="default-search" name="filter" value="{{ filter }}"
                           class="block w-full p-4 px-10 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Suche nach Lieder, Interpreten, ...">
                    <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Suchen</button>

                </div>
            </div>

            <!-- Sort dropdown and Checkbox -->
            <div class="mt-4 flex items-center">

                 <!-- Checkbox -->
                <div class="flex items-center mx-5">
                    <input type="hidden" id="duetValue" name="duet_only" value="{{ duet_only }}">
                    <input type="checkbox" id="duetCheckbox" onchange="updateDuetValueAndSubmit()" {% if duet_only=='true' %}checked{% endif %}
                           class="form-checkbox h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
                    <label for="duetCheckbox" class="ml-2 text-sm text-white">als Duett verfügbar</label>
                </div>

                <label for="sort_by" class="text-sm font-medium text-white mr-2">Sortieren nach:</label>
                <select id="sort_by" name="sort_by" onchange="submitForm()" class="px-4 py-2 border border-gray-300 rounded-md bg-gray-800 text-white focus:outline-none focus:ring focus:ring-blue-400">
                    <option value="artist" {% if sort_by=='artist' %}selected{% endif %}>Interpret</option>
                    <option value="title" {% if sort_by=='title' %}selected{% endif %}>Titel</option>
                    <option value="language" {% if sort_by=='language' %}selected{% endif %}>Sprache</option>
                    <option value="year" {% if sort_by=='year' %}selected{% endif %}>Jahr</option>
                    <option value="date_added" {% if sort_by=='date_added' %}selected{% endif %}>Hinzugefügt</option>
                    <option value="times_played" {% if sort_by=='times_played' %}selected{% endif %}>Gespielt</option>
                </select>

            </div>
        </form>

        <div class="mb-2 text-white"><div id="songs-count" class="inline">{{ songs|length }}</div> Treffer werden angezeigt.</div>
        <div class="mb-4 text-white text-sm">Drücke den "🔊" Knopf um das Lied anzuhören.</div>


        <table class="w-full">
            <thead>
                <tr>
                    <th class="px-4 py-2">Interpret</th>
                    <th class="px-4 py-2">Titel</th>
                    <th class="px-4 py-2">Jahr</th>
                    <th class="px-4 py-2">Sprache</th>
                    <th class="px-4 py-2">Gespielt</th>
                    <th class="px-4 py-2">Anhören</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                <tr>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.title }}</td>
                    <td>{{ song.year }}</td>
                    <td>{{ song.language }}</td>
                    <td>{{ song.times_played }}</td>
                    <td>
                        <button class="preview bg-blue-500 text-white rounded-md"
                            mp3_path="{{ song.mp3_path }}">🔊</button>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <script>

    function toggleFilters() {
      const filterCollapse = document.getElementById('filterCollapse');
      filterCollapse.classList.toggle('hidden');
    }

function updateDuetValue() {
    var checkbox = document.getElementById('duetCheckbox');
    var hiddenInput = document.getElementById('duetValue');

    // Update the value of the hidden input based on the checkbox state
    hiddenInput.value = checkbox.checked ? 'true' : 'false';
}

function updateDuetValueAndSubmit() {

    updateDuetValue()

    // Optionally, you can submit the form here if needed
    submitForm();
}

function submitForm() {
    // Assuming your form has the id 'searchForm', you can adjust this accordingly
    document.getElementById('searchForm').submit();
}

const page_size = 250;

$(document).ready(function() {
    var currentAudio = null;
    var isLoading = false;
    var limit = page_size;
    var offset = limit;

    function loadSongs() {
        if (isLoading) {
            return;
        }

        isLoading = true;

        //ensure we pass the right value!
        updateDuetValue()

        $.ajax({
            url: '/api/songs',
            data: {
                offset: offset,
                limit: limit,
                duet_only: $('#duetValue').val(),
                filter: $('#default-search').val(),
                sort_by: $('#sort_by').val()
            },
            success: function(data) {
                var songs = data.songs;
                console.log(songs.length + ' songs loaded')

                if (songs.length > 0) {
                    for (var i = 0; i < songs.length; i++) {
                        var song = songs[i];
                        var row = $('<tr></tr>');

                        // Create and append table cells for each song property
                        $('<td></td>').text(song.artist).appendTo(row);
                        $('<td></td>').text(song.title).appendTo(row);
                        $('<td></td>').text(song.year).appendTo(row);
                        $('<td></td>').text(song.language).appendTo(row);
                        $('<td></td>').text(song.times_played).appendTo(row);
                        $('<td></td>').html('<button class="preview bg-blue-500 text-white rounded-md" mp3_path="' + song.mp3_path + '">🔊</button>').appendTo(row);

                        row.appendTo('tbody');
                    }

                    offset += limit;

                    // Update the songs count
                    updateSongsCount(songs.length);
                } else {
                    // No more songs to load
                    $(window).off('scroll');
                }
            },
            complete: function() {
                isLoading = false;
            }
        });
    }


    function updateSongsCount(addedSongs) {
        // Update the text content of the element that displays the number of songs
        var songsCount = $('#songs-count');
        var currentCount = parseInt(songsCount.text(), 10);
        var newCount = currentCount + addedSongs;
        songsCount.text(newCount);
    }


    // Handle scrolling to the bottom of the page
    $(window).scroll(function() {
        var threshold = page_size; // Adjust this value to define the threshold distance from the bottom

        if ($(window).scrollTop() + $(window).height() >= $(document).height() - threshold) {
            loadSongs();
        }
    });


    // Handle preview button click event
    $(document).on('click', '.preview', function() {
        // load the audio file from /api/mp3 using mp3_path as a argument
        var mp3_path = $(this).attr('mp3_path');
        var audio = new Audio('/api/mp3?mp3_path=' + mp3_path);

        // If there is a currently playing audio file, stop it
        if (currentAudio) {
            currentAudio.pause();
        }

        // Play the new audio file
        audio.play();

        // Set the current audio file to the new audio file
        currentAudio = audio;

        // Prevent the default button click behavior
        return false;
    });

});


    </script>
</body>

</html>